<section id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contacto</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <br>
                            <a href="#"><img src="/img/icons/facebook.png" width="45"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#"><img src="/img/icons/instagram.png" width="45"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#"><img src="/img/icons/youtube.png" width="45"></a>
                            <br><br>
                            <button type="submit" class="btn btn-xl">Formulario de contacto</button>
                        </div>
                        <div class="col-md-6 text-center">
                            
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
