<section id="contacto">
    <div class="container" style="margin-bottom: -50px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sé parte de nuestra gran familia</h2>
                <h2 class="section-subheading">Nos gustaría conocerte</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br>
                        <a href="https://www.facebook.com/ibestrella"><img src="/img/icons/facebook.png" width="45"></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.instagram.com/ibeb.leon/?hl=es-la"><img src="/img/icons/instagram.png"
                                width="45"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.youtube.com/channel/UC8uYXIOduzN9h97kk7raqtw"><img
                                src="/img/icons/youtube.png" width="45"></a>
                        <br><br>
                        <a href="https://forms.gle/8Mnh1bHvKofCoZrz6" target="_blank"><button type="submit"
                                class="btn btn-xl">Contáctanos</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<iframe
    src="
    https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.393669773681!2d-101.64821754910957!3d21.09686579075583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbe476eb1624d%3A0x8868723e1923a5ff!2sIglesia%20Bautista%20Estrella%20de%20Bel%C3%A9n%20de%20Le%C3%B3n!5e0!3m2!1ses-419!2smx!4v1656129656010!5m2!1ses-419!2smx"
    width="100%" height="300" scrolling="no" marginheight="0" marginwidth="0" style=" border:0;" allowfullscreen=""
    loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="jumbotron-fluid"></iframe>
<br />
<small>
    <a
        href="
    https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.393669773681!2d-101.64821754910957!3d21.09686579075583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbe476eb1624d%3A0x8868723e1923a5ff!2sIglesia%20Bautista%20Estrella%20de%20Bel%C3%A9n%20de%20Le%C3%B3n!5e0!3m2!1ses-419!2smx!4v1656129656010!5m2!1ses-419!2smx">
    </a>
</small>
</iframe>