<section id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contacto</h2>
                    <h3 class="section-subheading text-muted">Nos gustaría conocerte</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <br>
                            <a href="https://www.facebook.com/ibestrella"><img src="/img/icons/facebook.png" width="45"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://www.instagram.com/ibeb.leon/?hl=es-la"><img src="/img/icons/instagram.png" width="45"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://www.youtube.com/channel/UC8uYXIOduzN9h97kk7raqtw"><img src="/img/icons/youtube.png" width="45"></a>
                            <br><br>
                            <a href="https://forms.gle/mixy9YWS98X47gpF8"><button href="https://forms.gle/mixy9YWS98X47gpF8" type="submit" class="btn btn-xl">Contactanos</button></a>                           
                        </div>
                        <div class="col-md-6 text-center">                            
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
