<!-- Team Section -->
            <!--<div class="row">
                <div class="owl-carousel owl-theme">
                    {% for member in site.people %}
                        <div class="item">
                            <div class="team-member">
                                <img src="img/team/{{ member.pic }}.jpeg" class="img-responsive img-circle" alt="">
                                <h4>{{ member.name }}</h4>
                                <p class="text-muted">{{ member.position }}</p>
                                <!-- <ul class="list-inline social-buttons">
                                    {% for network in member.social %}
                                    <li>
                                        <a href="{{ network.url }}">
                                            <i class="fa fa-{{ network.title }}"></i>
                                        </a>
                                    </li>
                                    {% endfor %}

                                </ul> 
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div> -->



<!-- Vdeo promocional sección anuncios-->
<section id="equipo" class="bg-light-gray">
        <div class="container">
            <div class="row">
            <!-- START CAROUSEL -->
                <div id="myCarousel7" class="carousel slide" data-ride="carousel">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Anuncios</h2>
                        <h3 class="section-subheading text-muted">Nunca dejen de ser diligentes; antes bien, sirvan al Señor con el fervor que da el Espíritu <br> Romanos 12:11</h3>
                            <!--
                            <div style="position: relative; width: 100%; height: 0; padding-top: 100.0000%;
                                padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
                                border-radius: 8px; will-change: transform;">
                                <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                                    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFqdEXO30k&#x2F;watch?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                                </iframe>
                                
                            </div>
                            -->
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel7" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel7" data-slide-to="1"></li>
                            <li data-target="#myCarousel7" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <center>
                            <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="img/Anuncios/Zurieton.jpeg" style="width:75%;">
                                    </div>  

                                <div class="item">
                                    <img src="img/ministerios/sonido.png" style="width:75%;">
                                </div>
                            
                                <div class="item">
                                    <img src="img/ministerios/coro1.jpeg" style="width:75%;">
                                </div>
                            </div>
                        </center>    
                    </div>
                </div>
<!-- END CAROUSEL -->
            </div>
        </div>
</section>	        


<!-- Anuncios	prueba

                    
                        <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFqdEXO30k&#x2F;watch?utm_content=DAFqdEXO30k&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Cantata Navideña</a> de Lizeth Camacho
                </div>
-->