<!-- Team Section -->
            <!--<div class="row">
                <div class="owl-carousel owl-theme">
                    {% for member in site.people %}
                        <div class="item">
                            <div class="team-member">
                                <img src="img/team/{{ member.pic }}.jpeg" class="img-responsive img-circle" alt="">
                                <h4>{{ member.name }}</h4>
                                <p class="text-muted">{{ member.position }}</p>
                                <!-- <ul class="list-inline social-buttons">
                                    {% for network in member.social %}
                                    <li>
                                        <a href="{{ network.url }}">
                                            <i class="fa fa-{{ network.title }}"></i>
                                        </a>
                                    </li>
                                    {% endfor %}

                                </ul> 
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div> -->



<!-- Vdeo promocional sección anuncios -->
<section id="equipo" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Anuncios</h2>
                    <h3 class="section-subheading text-muted">Nunca dejen de ser diligentes; antes bien, sirvan al Señor con el fervor que da el Espíritu <br> Romanos 12:11</h3>
                    <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
                        padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
                        border-radius: 8px; will-change: transform;">
                        <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                            src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFbnO8cUcQ&#x2F;watch?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                        </iframe>
                    </div>
                        <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFbnO8cUcQ&#x2F;watch?utm_content=DAFbnO8cUcQ&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Ministerio Tech</a> por Hiram Torres
                </div>
            </div>
        </div>
</section>	        



