<!-- Team Section -->
<!--    <section id="equipo" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestro equipo</h2>
                    <h3 class="section-subheading text-muted">Nunca dejen de ser diligentes; antes bien, sirvan al Señor con el fervor que da el Espíritu. Romanos 12:11</h3>
                </div>
            </div>
            <div class="row">
                <div class="owl-carousel owl-theme">
                    {% for member in site.people %}
                        <div class="item">
                            <div class="team-member">
                                <img src="img/team/{{ member.pic }}.jpeg" class="img-responsive img-circle" alt="">
                                <h4>{{ member.name }}</h4>
                                <p class="text-muted">{{ member.position }}</p>
                                <!-- <ul class="list-inline social-buttons">
                                    {% for network in member.social %}
                                    <li>
                                        <a href="{{ network.url }}">
                                            <i class="fa fa-{{ network.title }}"></i>
                                        </a>
                                    </li>
                                    {% endfor %}

                                </ul> 
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Entonces Jesús se sentó, llamó a los doce y les dijo: —Si alguno quiere ser el primero, que sea el último de todos y el servidor de todos <br> Marcos 9:35.</p>
                </div>
            </div>
        </div>
    </section> 



<!-- Vdeo promocional probable sección de anuncios -->
<section id="video" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Video promocional</h2>
                    <h3 class="section-subheading text-muted">Nunca dejen de ser diligentes; antes bien, sirvan al Señor con el fervor que da el Espíritu
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/YwdsU3FlwOM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>