<!-- About Section -->
<section id="historia">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nuestra historia</h2>
                <h3 class="section-subheading text-muted">Tú me cubres con el escudo de tu salvación, y con tu diestra
                    me sostienes;<br> tu bondad me ha hecho prosperar. Me has despejado el camino, así que mis tobillos
                    no flaquean.<br>Salmo 18:35-36</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/historia/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1985</h4>
                                <h4 class="subheading">Nacimiento de la misión</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nuestra Iglesia nació por la iniciativa del Señor y del trabajo
                                    misionero de la PIB de la ciudad –a mediados de los 80´s se inicia un trabajo de
                                    alcance evangelístico en la zona de colonias Azteca, Manzanares, Jardines de Jerez y
                                    otras más. Se establece como lugar de reunión la casa de la familia Soria García
                                    ubicada en la Colonia Azteca –después de un arduo trabajo pasando como Centro de
                                    Predicación-Misión.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/historia/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1986</h4>
                                <h4 class="subheading">Construcción de templo.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Por la gracia de Dios, Se compra un terreno en residencial San
                                    Isidro, y se comienza la construcción de la primera etapa del templo con el apoyo de
                                    los hermanos mismos de la misión, la primera iglesia bautista de León y la
                                    convención nacional bautista misionera de México. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/historia/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>18 Junio 1988</h4>
                                <h4 class="subheading">Nacimiento de la iglesia</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">La Iglesia Bautista “Estrella de Belén” se establece en la colonia
                                    Residencial San Isidro, zona sur de nuestra ciudad. Se establece como Iglesia en el
                                    año 1988, contando ya con un terreno y edificio propio. Es una comunidad de fe cuya
                                    visión es alcanzar a las personas y familias de esta zona y sus alrededores y
                                    guiarles a un encuentro con Jesucristo a través de la Proclamación de su mensaje y
                                    transformarles en un discípulo para que a su vez ellos alcancen a otros para el
                                    mismo propósito.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/historia/4.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Diciembre 2005</h4>
                                <h4 class="subheading">Llegada de la familia pastoral</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A lo largo de la historia de la iglesia, han servido en el
                                    pastorado diversos siervos, de los cuales, cada uno aportó para el crecimiento de la obra
                                    de Dios en IBEB. Comenzando con el pastor Oscar blanco, pastor Sergio Villalpando,
                                    pastor José Guzmán, pastor Humberto Adame y por último y actual nuestro Pastor
                                    Francisco Espinoza quien llegó en diciembre de 2005 y comenzó su ministerio en enero
                                    de 2006.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/historia/5.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014</h4>
                                <h4 class="subheading">Nacimiento iglesia hija</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Dios bendice su obra y se abre la primer iglesia hija "IBEB Cerrito de Jeréz" Se inicia la integración a la colonia el 8 de febrero del 2014 como familia pastoral y el domingo 16 de febrero se celebra el primer culto de adoración a Dios como iglesia.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/historia/6.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2022</h4>
                                <h4 class="subheading">Aniversario 34</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Después de una pandemia, con pruebas y tropiezos, Dios ha cuidado, prosperado y bendecido su obra a través de grandes hombres y mujeres de fé, que tomados de su mano han hecho de IBEB una iglesia con propósito, haciendo cosas que trascienden no solo para lo terrenal si no para lo eterno. "Hasta aquí nos ha ayudado el señor" </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Sé parte
                                <br>de nuestra
                                <br>familia!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>