<!-- Ministerio Modals -->
{% for post in site.posts %}
<div class="ministerio-modal modal fade" id="ministerioModal{{ post.modal-id }}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="text-center">{{ post.title }}</h2>
                        <hr class="star-primary">
                        <img src="img/ministerios/{{ post.img }}" class="img-responsive img-centered"
                            alt="{{ post.alt }}">
                        <center>
                            <p style="font-size: 0.8em">{{ post.description }}</p>
                        </center>
                        <p style="font-size: 1.8em">{{ post.text }}</p>
                        <center><button type=" button" class="btn btn-default" data-dismiss="modal"><i
                                    class="fa fa-times"></i>
                                Cerrar</button></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}