<!DOCTYPE html>
<html>

{% include head.html %}


<!-- Banner modal -->
<div class="modal fade" id="bannerModal" tabindex="-1" role="dialog" aria-labelledby="bannerModalLabel"
  aria-hidden="true" data-toggle="modal" data-backdrop="static" data-keyboard="false" style="margin-top: 150px;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="img/website_banner.png" width="100%">
      </div>
    </div>
  </div>
</div>


{% include header.html %}
{% include reuniones.html %}
{% include ministerios.html %}
{% include historia.html %}
{% include equipo.html %}
{% include contacto.html %}
{% include footer.html %}
{% include modals.html %}
{% include js.html %}

</body>

</html>