<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    <!-- Header -->
    <header>
        <div class="container">
            <div class="dar-text">
                <img src="{{ site.url }}/img/logo_text_img.png" alt="" width="50%">
                <br> <br> <br>
            </div>
        </div>
    </header>

    <div class="container" style="margin: 50px auto;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>¡Este formulario ya se cerró!</h2>
            </div>
        </div>
    </div>

    {% include footer.html %}
    {% include js.html %}

    </body>
</html>