<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    <!-- Header -->
    <header>
        <div class="container">
            <div class="dar-text">
                <img src="{{ site.url }}/img/logo_text_img.png" alt="" width="50%">
                <br> <br> <br>
            </div>
        </div>
    </header>

    <div class="container" style="margin: 50px auto;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>🎁🎁🎁 ¡Conoce los regalos deseados aquí! 🎁🎁🎁</h2>
            </div>
        </div>
    </div>

    <iframe class="airtable-embed" src="https://airtable.com/embed/shr5PZ9CWwzTAchgZ?backgroundColor=blue&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="550" style="background: transparent; border: 1px solid #ccc;"></iframe>
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>